@charset "utf-8";
@media(max-width:1920px){
    .container{
        width: 100%;
    }
}
@media(max-width:1919px){
    /* header */
    .header .ticket span:nth-of-type(1){
        margin-left: 30%;
    }

    /* nav */
    .nav>ul{
        padding-left: 17%;
    }
    .nav>ul>li{
        width: 16%;
    }
    .nav>ul>li>a{
        width: 100%;
        font-size: 1.7rem;
    }
    .nav>ul>li>.submenu{
        width: 100%;
    }
    .nav>ul>li>.submenu>li{
        width: 100%;
    }
    .nav>ul>li>.submenu>li>a{
        font-size: 1.2rem;
    }
    .nav .log{
        top: 25px;
        right: 2.8%;
    }

    /* footer */
    .footer div{
        width: 30%;
    }
    .footer .f_logo{
        padding-left: 10%;
    }
    .footer .f_sns{
        padding-left: 10%;
    }
    .footer .f_menu{
        width: 70%;
    }
    .footer .f_menu>ul{
        padding-left: 0%;
    }
    .footer .f_copy{
        width: 100%;
    }
}
@media(max-width:1510px){
    /* header */
    .header .ticket span:nth-of-type(1){
        margin-left: 20%;
    }
}
@media(max-width:1440px){
    .nav>ul{
        padding-left: 10%;
    }
    .nav>ul>li>a{
        font-size: 1.6rem;
    }
}
@media(max-width:1340px){
    .nav>ul>li>.submenu>li>a{
        font-size: 1.1rem;
    }
}
@media(max-width:1320px){
    /* header */
    .header .ticket span:nth-of-type(1){
        margin-left: 15%;
    }
}
@media(max-width:1280px){
    /* header */
    .header .ticket span:nth-of-type(1){
        margin-left: 10%;
    }

    /* nav */
    .nav>ul{
        padding-left: 5%;
    }
    .footer div{
        width: 20%;
    }
    .footer .f_logo{
        padding-left: 5%;
    }
    .footer .f_sns{
        padding-left: 5%;
    }
    .footer .f_menu{
        width: 80%;
    }
}
@media(max-width:1175px){
    /* header */
    .header .ticket span:nth-of-type(1){
        margin-left: 5%;
    }

    /* nav */
    .nav>ul>li>a{
        font-size: 1.5rem;
    }
}
@media(max-width:1155px){
    /* nav */
    .nav>ul>li>.submenu>li>a{
        font-size: 1.05rem;
    }
}
@media(max-width:1110px){
    /* header */
    .header .ticket span:nth-of-type(1){
        margin-left: 0%;
    }
}
@media(max-width:1100px){
    /* nav */
    .nav>ul>li>.submenu>li>a{
        font-size: 1rem;
    }
}
@media(max-width:1060px){
    /* header */
    .header .ticket span{
        margin: 90px 5% 0 0;
    }
}
@media(max-width:1050px){
    /* nav */
    .nav>ul>li>.submenu>li>a{
        font-size: 0.95rem;
    }
}

@media(max-width:1024px){
    .row{padding: 0 28px;}

    /* header */
    .header .clock{
        height: 100px;
    }
    .header .clock img{
        margin: 35px 0 0 30px;
    }
    .header .logo{
        height: 100px;
    }
    .header .logo img{
        height: 70px;
    }
    .header .ticket{
        height: 100px;
    }
    .header .ticket span{
        float: left;
        margin: 60px 5% 0 0;
    }
    .header .ticket span:nth-of-type(1){
        margin-left: 0px;
        margin-top: 40px;
    }
    .header .ticket span:nth-of-type(2){
        margin-top: 40px;
    }
    .header .ticket span:nth-of-type(3){
        padding-right: 0px;
    }

    /* nav */
    #nav{
        height: 60px;
    }
    .nav>ul{
        padding-left: 0px;
    }
    .nav>ul>li{
        width: 19.9%;
        height: 60px;
        line-height: 60px;
    }
    .nav>ul>li>a{
        font-size: 1.3rem;
        width: 100%;
    }
    .nav>ul>li>.submenu{
        top: 60px;
        height: 300px;
        width: 100%;
    }
    .nav>ul>li>.submenu>li{
        width: 100%;
        height: 60px;
    }
    .nav>ul>li>.submenu>li>a{
        font-size: 0.9rem;
    }
    .nav>ul>li>.submenu>li>a:hover{
        transform: scale(1.05);
    }
    .nav .navbg{
        width: 100%;
        height: 300px;
        top: 60px;
    }
    .nav .log{
        top: 25px;
        right: 2%;
    }
    .nav .log a{
        color: #225BBF;
        font-size: 1.2rem;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 600;
    }
    .nav .log a:nth-of-type(1){
        margin-right: 10px;
    }

    /* footer */
    .footer div{
        height: 120px;
    }
    .footer .f_logo{
        padding-top: 30px;
    }
    .footer .f_logo img{
        width: 70px;
    }
    .footer .f_sns{
        padding-bottom: 90px;
    }
    .footer .f_sns ul li{
        font-size: 1.2rem;
    }
    .footer .f_menu{
        height: 240px;
        margin-top: -240px;
    }
    .footer .f_menu>ul>li{
        padding: 20px 0 0 30px;
    }
    .footer .f_menu>ul>li>a{
        font-size: 1rem;
    }
    .footer .f_menu>ul>li>ul>li>a{
        font-size: 0.7rem;
        line-height: 25px;
    }
    .footer .f_menu>ul>li>ul>li>a:hover{
        text-shadow: 1px 1px 4px rgba(255, 255, 255, 0.5);
    }
    .footer .f_copy{
        width: 100%;
        height: 100px;
    }
    .footer .f_copy p{
        font-size: 0.5rem;
    }
}
@media(max-width:925px){
    /* header */
    .header .ticket{
        padding-left: 5%;
    }
}
@media(max-width:925px){
    /* header */
    .header .ticket{
        padding-left: 2%;
    }
}
@media(max-width:768px){
    .row{padding: 0 16px;}
    .header .clock{
        height: 100px;
    }
    .header .clock img{
        width: 100%;
        margin: 35px 0 0 30px;
    }
    .header .logo{
        height: 100px;
    }
    .header .logo img{
        height: 60%;
    }
    .header .ticket{
        height: 100px;
    }
    .header .ticket span{
        float: left;
        margin: 60px 10px 0 0;
    }
    .header .ticket span:nth-of-type(1){
        margin-left: 0px;
        margin-top: 40px;
    }
    .header .ticket span:nth-of-type(2){
        margin-top: 40px;
    }
    .header .ticket span:nth-of-type(3){
        padding-right: 0px;
        display: none;
    }
    .header .ticket span img{
        width: 70%;
    }
    #nav{
        display: none;
    }
    #hamBtn{
        top: 44%;
        right: 3%;
        display: block;
    }

    /* footer */
    .footer div{
        height: 100px;
    }
    .footer .f_logo{
        padding-top: 30px;
    }
    .footer .f_logo img{
        width: 50px;
    }
    .footer .f_sns{
    }
    .footer .f_sns ul li{
        padding: 0px 10px 0 0;
        font-size: 0.9rem;
    }
    .footer .f_menu{
        height: 200px;
        margin-top: -200px;
    }
    .footer .f_menu>ul>li{
        padding: 20px 0 0 0px;
    }
    .footer .f_menu>ul>li>a{
        font-size: 0.9rem;
    }
    .footer .f_menu>ul>li>ul>li>a{
        font-size: 0.2rem;
        line-height: 25px;
    }
    .footer .f_menu>ul>li>ul>li>a:hover{
        text-shadow: 1px 1px 4px rgba(255, 255, 255, 0.5);
    }
    .footer .f_copy{
        width: 100%;
        height: 100px;
    }
    .footer .f_copy p{
        font-size: 0.1rem;
    }
}
@media(max-width:480px){
    .row{padding: 0 8px;}
    .header .clock{
        height: 100px;
    }
    .header .clock img{
        margin: 40px 0 0 5px;
    }
    .header .logo{
        width: 70%;
        height: 100px;
        display: flex;
        justify-content: left;
        padding-left: 15%;
    }
    .header .logo img{
        height: 60px;
    }
    .header .ticket{
        display: none;
    }
    #hamBtn{
        position: absolute;
        top: 40%;
        right: 5%;
        width: 30px;
        height: 30px;
    }

    /* footer */
    .footer div{
        height: 100px;
    }
    .footer .f_logo{
        padding-left: 5%;
        padding-top: 30px;
    }
    .footer .f_logo img{
        width: 50px;
    }
    .footer .f_sns{
        padding-left: 5%;
    }
    .footer .f_sns ul li{
        padding: 0px 10px 0 0;
        font-size: 0.9rem;
    }
    .footer .f_menu{
        height: 200px;
        margin-top: -200px;
        padding-left: 3%;
    }
    .footer .f_menu>ul>li{
        padding: 20px 0 0 0px;
    }
    .footer .f_menu>ul>li>a{
        font-size: 0.6rem;
    }
    .footer .f_menu>ul>li>ul>li>a{
        font-size: 0.0001rem;
        line-height: 25px;
    }
    .footer .f_menu>ul>li>ul>li>a:hover{
        text-shadow: 1px 1px 4px rgba(255, 255, 255, 0.5);
    }
    .footer .f_copy{
        height: 100px;
    }
    .footer .f_copy p{
        font-size: 0.0000001rem;
    }
}