@charset "utf-8";
/* banner */
.banner{}
.banner span{
    display: block;
    width: 100%;
    font-size: 55px;
    color: #fff;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: 350px;
}
.banner span b{
    font-family: 'Josefin Sans', sans-serif;
    color: #ED653E;
    text-shadow: 1px 1px 5px #68220e;
}

/* introduce */
#introduce{}
.int{
    margin: 100px 0 125px 0;
}
.int h2{
    font-size: 45px;
    height: 125px;
    width: 100%;
    text-align: center;
    line-height: 125px;
    color: #0F396A;
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;
}
.int .intImg{
    float: left;
    width: 430px;
    height: 430px;
    margin: 0 55px 0 162px;
}
.int .intImg img{}
.int .intText{
    float: left;
    width: 1111px;
    height: 430px;
    border: 1px solid #225BBF;
}
.int .intText h3{
    margin-top: 25px;
    font-size: 40px;
    color: #0F396A;
    text-align: center;
    position: relative;
}
.int .intText h3::before{
    content: "";
    position: absolute;
    width: 220px;
    height: 1px;
    background-color: #0F396A;
    bottom: -12px;
    left: 40%;
}
.int .intText span{
    display: block;
    margin-top: 40px;
    font-size: 28px;
    padding: 0 40px;
    box-sizing: border-box;
}
.int .intText span b{
    font-family: 'Josefin Sans', sans-serif;
}

/* brandLogo */
#brandLogo{}
.ex{}
.ex h3{
    font-size: 45px;
    margin-bottom: 40px;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    color: #0F396A;
}
.ex .exText{}
.ex .exText b{}
.ex .exLogo{}
.ex .exLogo img{}
.guide{}